@charset "UTF-8";

/* Fonts */

/* cyrillic-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../files/fonts/Roboto/300/cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../files/fonts/Roboto/300/cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../files/fonts/Roboto/300/greek-ext.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../files/fonts/Roboto/300/greek.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../files/fonts/Roboto/300/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../files/fonts/Roboto/300/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../files/fonts/Roboto/300/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/greek-ext.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/greek.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/400/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/500/cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/500/cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/500/greek-ext.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/500/greek.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/500/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/500/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/500/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Roboto/700/cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Roboto/700/cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Roboto/700/greek-ext.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Roboto/700/greek.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Roboto/700/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Roboto/700/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Roboto/700/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Poppins/400/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Poppins/400/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Poppins/700/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Poppins/700/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Normalize */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

picture,
img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: 700;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Mixins */

/* Максимальная ширина контейнера с контентом */

/* Media screen */

/* ui */

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: visible;
}

main.main {
  flex: 1;
  position: relative;
}

body {
  background-color: #321364;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  overflow-x: hidden;
}

body._lock {
  overflow: hidden;
  /*
  @include media-min-992 {
  	margin-right: 8px;

  	.header__wrapper {
  		left: 0;
  		margin-right: 8px;
  		padding-right: 8px;
  	}
  }
  */
}

body p:not(:last-child) {
  margin-bottom: 18px;
}

/*
.page__head {
	padding-top: 144px;

	@include media-max-1200 {
		padding-top: 120px;
	}
	@include media-max-575 {
		padding-top: 68px;
	}

	.page__block {

		&-go-back-to-mome {
			align-items: center;
			display: flex;
			padding-bottom: 21px;

			@include media-max-575 {
				display: none;
			}

			img,
			svg {
				margin-right: 4px;
			}

			a {
				color: #8C90CA;
			}
		}
	}

	&-wrap-title {
		align-items: center;
		display: flex;
		justify-content: space-between;

		.page__title {
			margin-right: 25px;
		}
	}
}
*/

/*
.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 12px;
	margin-top: 12px;
	position: relative;
	z-index: 3;

	@include media-max-800 {
		margin-bottom: 22px;
		margin-top: -1px;
		width: 100%;
	}

	&__item {
		list-style: none;
		position: relative;

		&:not(:last-child) {

			&::after {
				bottom: 1px;
				color: #000;
				content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='5' height='8' viewBox='0 0 5 8' fill='none'%3e%3cpath d='M1 1L4 4L1 7' stroke='black' stroke-opacity='0.5'/%3e%3c/svg%3e");
				display: inline-block;
				left: 0;
				margin: 0 16px;
				position: relative;
				top: -2px;
				width: 8px;

				@include media-max-800 {
					margin: 0 20px;
					top: -1px;
				}
			}
		}
	}
	&__link {
		color: rgba(0, 0, 0, 0.50);

		@media (any-hover: hover) {

			&:hover {
				color: #000 !important;
			}
		}
	}
	&__name {
		color: #000;
		margin-left: 15px;

		@include media-max-800 {
			margin-left: -3px;
		}
	}
}
*/

.n_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1030px;
  padding-left: 25px;
  padding-right: 25px;
}

/*
.n_text-above-sec-title {
	font-size: 14.6px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}
*/

/*
.n_sec-title {
	color: #202020;
	display: table;
	font-size: 30px;
	line-height: 25.5px;
	letter-spacing: 0.3px;

	@include media-max-575 {
		font-size: 23px;
		line-height: 19.55px;
		letter-spacing: 0.23px;
	}

	&::after {
		background-color: #202020;
		content: '';
		display: block;
		height: 2px;
		margin-top: 2px;
		width: 100%;
	}
}
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/*
.page__title {
	font-size: 32px;
	line-height: 44px;
	margin: 0;
}
*/

.n_object-fit {
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/*
.block-slider {

	&__pagination {
		padding-bottom: 13px;
		position: relative;
		text-align: right;
		z-index: 1;

		@include media-max-660 {
			padding-bottom: 0;
		}

		.block-slider__number-slides-zero,
		.swiper-pagination-total {
			color: #BBBBBB;
			font-family: "Bebas Neue Cyrillic", Arial, Helvetica, sans-serif;
			@include adaptive-value("font-size", 27, 18, 1);
			@include adaptive-value("line-height", 27, 18, 1);
			font-weight: 400;
			user-select: none;
		}
	}
	&__number-current-zero,
	&__pagination .swiper-pagination-current,
	&__slash {
		font-family: "Bebas Neue Cyrillic", Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: 400;
		@include adaptive-value("font-size", 48, 23, 1);
		@include adaptive-value("line-height", 48, 23, 1);
		user-select: none;
	}
	&__slash {
		color: #BBBBBB;
	}
	&__wrap-arrow {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		padding-bottom: 32px;
		position: relative;
		z-index: 10;

		@include media-max-660 {
			padding-bottom: 12px;
		}

		.swiper-button-next,
		.swiper-button-prev {
			color: inherit;
			cursor: pointer;
			height: auto;
			margin-top: 0;
			position: relative;
			user-select: none;
			width: auto;
			z-index: 5;

			svg {
				user-select: none;
			}
		}
		.swiper-button-prev:after,
		.swiper-button-next:after,
		.swiper-button-prev:after,
		.swiper-button-next:after {
			display: none;
			font-size: 0;
			overflow: hidden;
		}
	}

	&__sw-btn-prev,
	&__sw-btn-next {
		transition: color 0.3s ease 0s;

		&:hover {
			color: #8bc53e;
		}

		span {
			color: inherit;
			cursor: pointer;
			font-size: 11px;
			line-height: 19px;
		}
	}
	&__sw-btn-prev {
		margin-right: 65px;

		@include media-max-660 {
			margin-right: 45px;
		}

		span {
			margin-left: 12px;

			@include media-max-660 {
				margin-left: 8px;
			}
		}
	}
	&__sw-btn-next {

		span {
			margin-right: 12px;

			@include media-max-660 {
				margin-right: 9px;
			}
		}
	}
}
*/

/*
#back-to-top {
	background-color: #fff;
	box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.14);
	border-radius: 14px;
   bottom: 80px;
	display: flex;
	justify-content: center;
	height: 105px;
	position: fixed;
	right: 62px;
   transition: opacity 0.3s ease 0s;
	//top: -251px;
	width: 82px;
    z-index: 100;

   @include media-min-1501 {
      right: 50%;
      transform: translateX(660px);
   }

	@include media-max-1024 {
		right: 30px;
	}
	@include media-max-991 {
		border-radius: 8px;
      bottom: 120px;
		height: 75px;
		//top: -150px;
		width: 55px;
	}
   @include media-max-720 {
      bottom: 110px;
		right: 25px;
	}
	@include media-max-660 {
		border-radius: 4px;
		height: 50px;
		//top: -100px;
		width: 42px;
	}

   &.hidden {
      opacity: 0;
   }

	svg {
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		top: 33%;

		@include media-max-660 {
			top: 25%;
		}
	}

	span {
		font-family: Helvetica, sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 17px;
		margin: auto 5px 20px;
		margin-top: auto;
		text-align: center;

		@include media-max-991 {
			font-size: 10px;
			line-height: 15px;
			margin-bottom: 8px;
		}
		@include media-max-660 {
			font-size: 8px;
			line-height: 13px;
			margin-bottom: 3px;
		}
	}
}
*/

/*
.n_btn {
	align-items: center;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	display: table;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	min-width: 170px;
	padding: 18.5px 15px;
	transition: all 0.3s ease 0s;
	text-align: center;

	@media (any-hover: hover) {

		&:hover {
			//background-color: darken(#000, 8%);
			color: #fff !important;
		}
	}
}
*/

/*
.resent-posts__wrap-tegs a {
	background-color: rgba(144, 145, 156, 0.15);
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 5px 18px;

	&:not(:last-child) {
		margin-right: 8px;
	}
}
*/

/*
.insights {

	&__progresBars {
		margin-top: 22px;

		@include media-max-720 {
			margin-bottom: 27px;
		}
	}
	&__progresBar {
      margin-bottom: 30px;

		@include media-max-720 {
			margin-bottom: 24px;
		}

		&.width-zero {

			.insights__progresBarFilling {
         	width: 0 !important;
			}

         .insights__progresBarPercent {
            opacity: 0;
         }
      }
	}
	&__wrap-title {
		align-items: center;
		display: flex;
		justify-content: space-between;

		&.width-zero {

         .insights__progresBarPercent {
            opacity: 0;
         }
      }
	}
	&__progresBarName {
		font-size: 16.8px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.025em;
		margin: 0 0 7px;

		@include media-max-720 {
			font-size: 14px;
      	line-height: 18px;
		}
	}
	&__progresBarWrapFilling {
		background: rgba(144, 145, 156, 0.15);
      border-radius: 4px;
      height: 8px;
		font-size: 0;
	}
	&__progresBarFilling {
      background: linear-gradient(90deg, #D80A2D 0%, #7544DD 100%);
      border-radius: inherit;
      height: inherit;
      position: relative;
      transition: 3s;
	}
	&__progresBarPercent {
		font-size: 15.6px !important;
		font-weight: 600;
		line-height: 26px !important;
		text-align: right;
		letter-spacing: 0.015em;
      opacity: 1;
		margin-left: 15px;
      position: relative;
      transition: 0.3s;
      transition-delay: 0.3s;

		@include media-max-720 {
			font-size: 13px !important;
			line-height: 23px !important;
		}
	}
}
*/

/*.block {

   &__item {
		border: 1px solid #ccc;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
   }

	&__text {
		overflow: hidden;
		padding: 0 29px 35px;

		ol,
		ul {
			margin-top: 35px;

			li {
				@include adaptive-value("font-size", 20, 19, 1);
				@include adaptive-value("line-height", 30, 29, 1);
				padding-left: 46px;
				position: relative;

				&:not(:last-child) {
					margin-bottom: 12px;
				}

				&::before {
					content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='16' viewBox='0 0 31 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9H30V7H0V9Z' fill='%2321C677'/%3e%3c/svg%3e");
					margin-right: 15px;
					left: 0;
					position: absolute;
					top: 1px;
				}
			}
		}

		p {
			font-size: 18px;
			line-height: 27px;

			&:first-child {
				margin-top: 29px;
			}

			&:not(:last-child) {
				margin-bottom: 18px;
			}
		}
	}

	&__title {
		background: none;
		display: flex;
		justify-content: space-between;
		font-family: 'Prosto One';
		@include adaptive-value("font-size", 26, 20, 1);
		font-weight: 400;
      @include adaptive-value("line-height", 34, 26, 1);
		padding: 22px 28px;
		position: relative;
		text-align: left;
		width: 100%;

		&::after {
			background-color: #000;
			bottom: 0;
			content: "";
			display: block;
			height: 1px;
			left: 29px;
			opacity: 0;
			position: absolute;
			right: 29px;
			transition: 0.3s;
			width: auto;
		}

		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}

		&._active {

			.block__title-cross {
				border-color: #21C677;

				&:before {
					background-color: #21C677;
				}
				&::after {
					height: 0;
				}
			}

			&::after {
				opacity: 1;
			}
		}

		&-cross {
			border: 1.5px solid #000;
			border-radius: 50%;
			display: block;
			height: 30px;
			font-size: 0;
			margin-left: 12px;
			position: relative;
			transition: 0.3s;
			top: 2px;
			min-width: 30px;

			&::before,
			&::after {
				background-color: #000;
				content: "";
				position: absolute;
				transition: 0.3s;
				width: 14px;
			}
			&::before {
				left: 50%;
				height: 1.5px;
				transform: translate(-50%, -50%);
				top: 50%;
				width: 14px;
			}
			&::after {
				left: 50%;
				height: 14px;
				transform: translate(-50%, -50%);
				top: 50%;
				width: 1.5px;
			}
		}
	}
}*/

/*
.custom-checkbox {
	display: block;
	margin-bottom: 1em;
	padding-left: 24px;
	position: relative;
	user-select: none;
}
.custom-checkbox__input {*/

/*clip: rect(0 0 0 0);*/

/*height: 1px;
	position: absolute;
	overflow: hidden;
	width: 1px;
}
.custom-checkbox__box {
	background-color: #fff;
	border: 1px solid #000;
	height: 15px;
	margin-left: -24px;
	margin-top: 1px;
	position: absolute;
	top: 3px;
	width: 15px;
}*/

/* Checked */

/*
.custom-checkbox__input:checked + .custom-checkbox__box {
	background-color: #D01F1F;
	border: 1px solid #D01F1F;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280.000000 1253.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,1253.000000) scale(0.100000,-0.100000)' fill='%23fff' stroke='none'%3e%3cpath d='M12000 12520 c-192 -27 -395 -98 -655 -230 -446 -225 -961 -590 -1620 -1149 -926 -785 -2158 -2000 -3466 -3416 -661 -717 -1389 -1537 -1913 -2157 -87 -104 -159 -188 -160 -188 -1 0 -67 34 -146 76 -255 134 -875 442 -1078 536 -849 391 -1441 595 -1912 659 -134 18 -368 13 -479 -10 -224 -48 -405 -181 -495 -366 -52 -104 -69 -183 -70 -310 -1 -105 1 -113 32 -177 29 -59 55 -87 235 -254 438 -407 919 -904 1273 -1315 792 -921 1625 -2167 2579 -3858 168 -297 234 -355 405 -355 66 0 96 5 132 21 113 51 158 111 238 313 135 341 398 964 565 1335 1285 2866 2820 5295 4654 7365 520 587 971 1049 1821 1866 665 640 790 788 844 1005 81 328 -187 601 -604 614 -63 2 -144 0 -180 -5z'/%3e%3c/g%3e%3c/svg%3e");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}*/

/*.custom-checkbox.checked .custom-checkbox-text {
	font-weight: 500;
}*/

/* Focus */

/*.custom-checkbox__input:focus + .custom-checkbox__box,
.custom-checkbox__input:checked:focus + .custom-checkbox__box {
	box-shadow: 0 0 0 2px #1a7aea, 0 0 0 4px #F3AC04;
}*/

/* Disabled */

/*
.custom-checkbox__input:disabled + .custom-checkbox__box,
.custom-checkbox__input:checked:disabled + .custom-checkbox__box {
	opacity: 0.6;
}
*/

/* n Select */

/* n Lazy Loading */

/* n Spollers */

.block {
  margin-bottom: 103px;
  margin-top: 70px;
  width: 100%;
}

.block__item {
  background-color: #390E70;
  border: 3px solid #FDDA47;
  border-radius: 17px;
  margin-top: 11px;
  padding: 50px 33px 45px;
}

.block__title {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  padding-left: 24px;
  position: relative;
  text-align: left;
  width: 100%;
}

.block__content {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.45px;
  padding-right: 20px;
  padding-top: 22px;
}

.block__text {
  overflow: hidden;
}

.block__text p {
  margin-bottom: 12px !important;
}

.block__text p:last-child {
  margin-bottom: 0 !important;
}

.block__text ul li,
.block__text ol li {
  list-style-position: inside;
}

.block__text ul li:not(:last-child),
.block__text ol li:not(:last-child) {
  margin-bottom: 6px;
}

.block__text ul li {
  list-style: none;
  padding-left: 16px;
  position: relative;
}

.block__text ul li::before {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 3px;
  left: 4px;
  position: absolute;
  top: 10px;
  width: 3px;
}

.block__text ol li {
  padding-left: 1px;
}

.block._init .block__title {
  color: #FDDA47;
  font-family: "Poppins", sans-serif;
  padding-left: 0;
  padding-right: 70px;
  position: relative;
  /*&:before,
  &:after {
     background-color: #fff;
     content: "";
     height: 2px;
     position: absolute;
     left: 0;
     transition: all 0.3s ease 0s;
     top: 11px;
     width: 12px;
  }
  &:after {
     transform: rotate(-90deg);
  }
  &._active:after {
     transform: rotate(0deg);
  }
  &._active:before,
  &._active:after {
     transform: rotate(180deg);
  }*/
}

.block._init .block__title::after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='22' viewBox='0 0 36 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 3L18 18L33 3' stroke='%23FDDA47' stroke-width='5' stroke-linecap='round'/%3e%3c/svg%3e");
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.block._init .block__title._active::after {
  top: calc(50% - 6px);
  transform: translateY(-50%) scale(1, -1);
}

/* n Pop up */

/* n Classes */

a {
  color: inherit;
  transition: color 0.3s;
  text-decoration: none;
}

/* Header */

/* Page - Home */

.header {
  padding-bottom: 7px;
  padding-top: 5px;
  position: relative;
}

.header::before {
  background-color: #390E70;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.header .n_container {
  position: relative;
}

.header p {
  color: #D3D3FF;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0.3000000119px;
  margin: 0 !important;
  text-align: center;
}

.header p span {
  color: #A09BB0;
}

.header__blockLogo {
  height: 65px;
  margin: 9px auto 0;
  width: 117px;
}

.header__blockLogo img,
.header__blockLogo svg {
  max-height: 100%;
  max-width: 100%;
}

.first-screen {
  position: relative;
  z-index: 1;
}

.first-screen .n_container {
  position: relative;
}

.first-screen__content {
  max-width: 50%;
  padding-bottom: 92px;
  padding-top: 79px;
}

.first-screen__content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50.25px;
  font-weight: 700;
  line-height: 65.3px;
  margin: 0 0 23px;
  position: relative;
  z-index: 2;
}

.first-screen__content p {
  color: #D3D3FF;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  max-width: 470px;
  margin: 0;
}

.blocks {
  counter-reset: section;
  position: relative;
  /*&__wrap-btn {
      align-items: center;
      border-radius: 50px;
      background: linear-gradient(90deg, #FFE980 0%, #BD8115 100%);
      height: 56px;
      display: flex;
      justify-content: center;
      width: 190px;

      @include media-max-720 {
          height: 50px;
          width: 170px;
      }
      @include media-max-575 {
          border-radius: 100px;
          background: linear-gradient(160deg, #FFE87F 0%, #BA7E21 100%);
          height: 34px;
          width: 125px;
      }
  }*/
}

.blocks__head {
  border-radius: 10px;
  background: linear-gradient(180deg, #FFF08B 0%, #FFB835 100%);
  display: flex;
  height: 60px;
  margin-bottom: 10px;
}

.blocks__head .blocks__column {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: auto;
  padding-bottom: 0;
  padding-top: 0;
}

.blocks__head .blocks__column.out-top-picks {
  width: calc(26% - 5px);
}

.blocks__head .blocks__column.out-top-picks h3 {
  display: table;
  margin-left: auto;
  margin-right: 20px;
}

.blocks__head .blocks__column.bonus {
  width: calc(31% - 3px);
}

.blocks__head .blocks__column.user-rating {
  flex: 0 0 130px;
  width: 130px;
}

.blocks__head .blocks__column.our-score {
  width: calc(14% + 1px);
}

.blocks__head .blocks__column.our-score h3 {
  margin-left: -8px;
}

.blocks__head .blocks__column.visit-site {
  flex: 0 0 207px;
  width: 207px;
}

.blocks__head .blocks__column.visit-site h3 {
  margin-right: 28px;
}

.blocks__head .blocks__column h1,
.blocks__head .blocks__column h2,
.blocks__head .blocks__column h3,
.blocks__head .blocks__column h4,
.blocks__head .blocks__column h5,
.blocks__head .blocks__column h6 {
  color: #390E70;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 4px;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
}

.blocks__wrap-block {
  position: relative;
}

.blocks__wrap-block .best-choice-icon {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: none;
  left: -20px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  z-index: 2;
}

.blocks__wrap-block::before {
  color: #000;
  counter-increment: section;
  content: counter(section);
  left: calc(3% + 1px);
  font-size: 37px;
  font-weight: 300;
  line-height: 43px;
  position: absolute;
  pointer-events: none;
  transform: translateY(-50%);
  top: 50%;
  z-index: 2;
}

.blocks__wrap-block.best-choice::before {
  opacity: 0;
}

.blocks__wrap-block.best-choice .best-choice-icon {
  display: block;
}

.blocks__block {
  background-color: #390E70;
  overflow: hidden;
}

.blocks__columns {
  display: flex;
  height: 100%;
}

.blocks__column {
  box-sizing: border-box;
  height: auto;
  padding-bottom: 10px;
  padding-top: 22px;
  position: relative;
  z-index: 1;
}

.blocks__column.block-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: calc(26% - 5px);
}

.blocks__column.block-logo::before,
.blocks__column.block-logo::after {
  content: "";
  position: absolute;
}

.blocks__column.block-logo::before {
  background: linear-gradient(90deg, #FDDA48 0%, #FB9B47 100%);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  bottom: 0;
  left: 0;
  height: 140%;
  top: 0;
  width: 100%;
  z-index: 0;
}

.blocks__column.block-logo .wrap-logo {
  margin-bottom: 14px;
  max-height: 70px;
  margin-top: 9px;
}

.blocks__column.block-logo .wrap-logo.mcluck .logo {
  margin-top: -10%;
}

.blocks__column.block-logo .logo {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 15px;
  position: relative;
  z-index: 1;
}

.blocks__column.block-logo .logo img,
.blocks__column.block-logo .logo svg {
  max-height: 50%;
  height: auto;
  max-width: 4%;
}

.blocks__column.block-logo .blocks__arrow {
  bottom: 0;
  height: 116%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  width: 30px;
}

.blocks__column.block-bonus {
  padding-left: 8px;
  padding-right: 8px;
  width: calc(31% - 3px);
}

.blocks__column.block-bonus h5 {
  color: #FFC029;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 4px;
  text-transform: capitalize;
  text-align: center;
}

.blocks__column.block-bonus h2 {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
}

.blocks__column.block-bonus p {
  color: #fff;
  font-size: 10px;
  line-height: 15px;
  margin: 7px 0 0;
  text-align: center;
}

.blocks__column.block-bonus p span {
  color: #FFBD3D;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.blocks__column.block-user-rating {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 120px;
  width: 120px;
}

.blocks__column.block-user-rating img {
  margin-left: 1px;
  margin-right: 1px;
}

.blocks__column.block-user-rating a {
  color: #D6B6FF;
  display: table;
  font-size: 13px;
  line-height: 14px;
  margin: 20px auto 0;
  text-decoration-line: underline;
  text-align: center;
}

.blocks__column.block-our-score {
  align-items: center;
  display: flex;
  justify-content: center;
  width: calc(14% + 1px);
}

.blocks__column.block-our-score .our-score {
  color: #000;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.blocks__column.block-visit-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 207px;
  padding-right: 13px;
  width: 207px;
}

.blocks__column.block-visit-site p {
  color: #fff;
  display: table !important;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 8px;
  text-align: center;
}

.blocks__column.block-visit-site a:not(.blocks__btn) {
  color: #1893FF;
  display: table;
  font-size: 14px;
  line-height: normal;
  margin: 2px auto 0;
  text-decoration-line: underline;
  text-align: center;
}

.blocks__block-bottom-text {
  color: #fff;
  font-size: 9px;
  line-height: 10.5px;
  margin: 0 0 9px;
  padding: 0 15px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.blocks__circle p {
  color: #fff;
  font-size: 21.8px;
  font-weight: 700;
  line-height: 21.8px;
  letter-spacing: -0.68px;
  text-align: center;
}

.blocks__btn {
  align-items: center;
  border-radius: 50px;
  background: linear-gradient(180deg, #FDDA48 0%, #FD9448 100%);
  height: 50px;
  color: #0D0428;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  justify-content: center;
  margin: 3px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  width: 190px;
  z-index: 2;
}

.blocks__btn img {
  margin-left: 5px;
}

.block-text {
  padding: 35px 36px 0;
}

.block-text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.75px;
  margin: 25px 0;
}

.block-text p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4499999881px;
  margin: 0 0 12px !important;
  text-align: left;
}

.drum {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -15px;
  z-index: 1;
}

.drum.desktop {
  max-width: 78%;
  transform: translateX(20%);
}

.coins-header {
  pointer-events: none;
  position: absolute;
  z-index: 0;
}

.coins-header.left {
  left: 0;
  top: -34px;
}

.coins-header.right {
  right: 0;
  top: -39px;
}

.coins-header.desktop.left {
  max-width: 24%;
}

.coins-header.desktop.right {
  max-width: 21%;
}

.bg {
  bottom: 0;
  left: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}

.bg.desktop {
  top: 0;
}

.bg.mobile {
  opacity: 0.3;
}

.coins-footer {
  bottom: -65px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  z-index: -1;
}

/* Footer */

.footer {
  background: linear-gradient(180deg, #390E70 0%, #440B8B 100%);
  padding-bottom: 104px;
  padding-top: 63px;
}

.footer__block-logo {
  height: 117px;
  width: 209px;
}

.footer__block-logo img {
  max-height: 100%;
  max-width: 100%;
}

.footer .n_container {
  max-width: 1040px;
}

.footer__item {
  width: 100%;
}

.footer__item:nth-child(2) {
  width: calc(46% - 146px);
}

.footer__item:nth-child(2) ul {
  max-width: 244px;
}

.footer__item:nth-child(3) {
  width: calc(54% - 146px);
}

.footer__item:nth-child(3) ul {
  max-width: 340px;
}

.footer__item h1,
.footer__item h2,
.footer__item h3,
.footer__item h4,
.footer__item h5,
.footer__item h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.footer__item h1::after,
.footer__item h2::after,
.footer__item h3::after,
.footer__item h4::after,
.footer__item h5::after,
.footer__item h6::after {
  background-color: #848484;
  content: "";
  display: block;
  height: 2px;
  margin-top: 22px;
  width: 30px;
}

.footer__item ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 13px -6px 0;
  width: 100%;
}

.footer__item ul li {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 12px 6px;
  width: calc(50% - 12px);
}

.footer__item ul li a {
  transition: color 0.3s ease 0s;
}

.footer__item ul li a:hover {
  opacity: 0.7;
}

.footer__copyright {
  margin-top: 75px;
}

.footer__copyright p {
  color: #BFBFBF;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}

/* Plyr video player */

@media screen and (min-width: 401px) {
  .bg.mobile {
    display: none;
  }

  .coins-footer {
    bottom: -4.5%;
  }

  .coins-footer.mobile {
    display: none;
  }
}

@media screen and (min-width: 461px) {
  .footer__copyright p {
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .drum.mobile {
    display: none;
  }

  .coins-header.mobile {
    display: none;
  }

  .footer__items {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 721px) {
  .blocks__block {
    border-radius: 20px;
    border: 3px solid #FDDA47;
    background-color: #390E70;
    margin-bottom: 10px;
  }

  .blocks__column.block-logo {
    background-color: #FDDA48;
  }

  .blocks__column.block-logo .logo {
    left: 7%;
    padding-left: 35px;
    padding-right: 15px;
  }

  .blocks__column.block-logo .logo.mobile {
    display: none;
  }

  .blocks__column.block-logo .blocks__arrow.mobile {
    display: none;
  }

  .blocks__column.block-bonus h5 {
    display: none;
  }

  .blocks__column.block-our-score .our-score {
    display: none;
  }

  .blocks__column.block-visit-site p {
    display: none !important;
  }

  .blocks__circle {
    align-items: center;
    border-radius: 40px;
    border: 2px solid #E8E8E8;
    background-color: transparent;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
  }

  .blocks__circle.another-color {
    border: 1.36px solid #FDDA47;
  }
}

@media screen and (min-width: 801px) {
  .blocks__circle {
    height: 54.5px;
    width: 54.5px;
  }

  .footer__items {
    flex-wrap: nowrap;
  }

  .footer__item:nth-child(1) {
    padding-right: 10px;
    flex: 0 0 291px;
    width: 291px;
  }
}

@media screen and (min-width: 992px) {
  body::-webkit-scrollbar {
    background: transparent;
    width: 8px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #5E1EAD;
  }
}

@media screen and (max-width: 1200.98px) {
  .blocks__column.block-bonus {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1024.98px) {
  .first-screen__content {
    max-width: 48%;
  }

  .first-screen__content h1 {
    font-size: 38px;
    line-height: 48px;
  }

  .drum.desktop {
    transform: translate(20%, -50%);
    top: 50%;
  }
}

@media screen and (max-width: 991.98px) {
  .footer__item:nth-child(2) {
    width: calc(50% - 140px);
  }

  .footer__item:nth-child(2) ul {
    max-width: 360px;
  }

  .footer__item:nth-child(3) {
    width: calc(50% - 130px);
  }

  .footer__item:nth-child(3) ul {
    max-width: 360px;
  }
}

@media screen and (max-width: 900.98px) {
  .blocks__head .blocks__column.bonus {
    width: calc(30% - 3px);
  }

  .blocks__head .blocks__column.bonus h3 {
    transform: translateX(30%);
  }

  .blocks__head .blocks__column.user-rating {
    flex: 0 0 160px;
    width: 160px;
  }

  .blocks__head .blocks__column.user-rating h3 span {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  .blocks__head .blocks__column.our-score {
    display: none;
  }

  .blocks__wrap-block.best-choice .best-choice-icon {
    width: 60px;
  }

  .blocks__column.block-bonus {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 0;
    width: calc(30% - 3px);
  }

  .blocks__column.block-user-rating {
    flex: 0 0 160px;
    width: 160px;
  }

  .blocks__column.block-our-score {
    padding-bottom: 12px;
    padding-top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 800.98px) {
  .blocks__column.block-user-rating img {
    height: 15px;
    margin-left: 0;
    margin-right: 0;
    width: 15px;
  }

  .blocks__column.block-user-rating a {
    margin-top: 5px;
  }

  .blocks__circle p {
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
  }

  .footer__item:nth-child(1) {
    margin-bottom: 50px;
  }

  .footer__item:nth-child(2) {
    width: 50%;
  }

  .footer__item:nth-child(3) {
    width: 50%;
  }
}

@media screen and (max-width: 720.98px) {
  .n_container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .blocks__head {
    display: none;
  }

  .blocks__wrap-block {
    margin-left: -15px;
    margin-right: -15px;
  }

  .blocks__wrap-block::before {
    display: none;
  }

  .blocks__wrap-block.best-choice .best-choice-icon {
    display: none;
  }

  .blocks__block {
    margin-bottom: 10px;
    position: relative;
  }

  .blocks__block::before {
    background-color: #FDDA47;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .blocks__block::before {
    bottom: 0;
  }

  .blocks__column.block-logo {
    background-color: #360063;
    display: block;
    height: 100%;
    padding-bottom: 0;
    width: 100%;
  }

  .blocks__column.block-logo::before {
    background: linear-gradient(270deg, #5B1DA7 7.8%, #360063 100%);
    top: 0;
  }

  .blocks__column.block-logo .wrap-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 68px;
    width: 100%;
  }

  .blocks__column.block-logo .logo.dekstop {
    display: none;
  }

  .blocks__column.block-logo .blocks__arrow {
    right: 1px;
  }

  .blocks__column.block-logo .blocks__arrow.dekstop {
    display: none;
  }

  .blocks__column.block-bonus {
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 35px;
    padding-right: 15px;
    width: 100%;
  }

  .blocks__column.block-bonus h2 {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 22px;
  }

  .blocks__column.block-bonus p {
    display: none;
  }

  .blocks__column.block-user-rating {
    flex-direction: row;
    flex: 0 1 100%;
    padding-top: 0;
    width: 100%;
  }

  .blocks__column.block-user-rating .wrap-stars {
    display: flex;
    margin: -18px 22px 0 0;
    order: -1;
  }

  .blocks__column.block-user-rating a {
    display: none;
  }

  .blocks__column.block-our-score {
    width: auto;
  }

  .blocks__column.block-our-score .our-score {
    color: #fff;
    margin-top: 3px;
  }

  .blocks__column.block-visit-site {
    padding-bottom: 0;
    padding-top: 0;
    flex: 0 1 100%;
    width: 100%;
  }

  .blocks__column.block-visit-site .blocks__wrap-btn {
    margin: 0 auto;
  }

  .blocks__column.block-visit-site a:not(.blocks__btn) {
    display: none;
  }

  .blocks__block-bottom-text {
    color: #FFF;
    font-size: 7px;
  }

  .blocks__circle p {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
  }

  .blocks__btn {
    height: 44px;
    font-size: 15px;
    line-height: 15px;
  }
}

@media screen and (max-width: 720.98px) and (max-width: 360.98px) {
  .blocks__column.block-user-rating .wrap-stars {
    margin-right: 0;
  }
}

@media screen and (max-width: 575.98px) {
  .block {
    margin-bottom: 33px;
    margin-top: 26px;
  }

  .block__item {
    margin-top: 10px;
    padding: 14px 19px 18px;
  }

  .block__content {
    padding-right: 0;
    padding-top: 9px;
  }

  .first-screen__content {
    max-width: 100%;
    padding-bottom: 24px;
    padding-top: 23px;
  }

  .first-screen__content .wrap-title {
    min-height: 151px;
  }

  .first-screen__content h1 {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1.4099999666px;
    max-width: 50%;
  }

  .first-screen__content p {
    max-width: 100%;
    font-size: 15px;
    line-height: 22px;
  }

  .blocks__column.block-bonus h5 {
    font-size: 14px;
    line-height: 14px;
  }

  .blocks__column.block-bonus h2 {
    margin-bottom: 4px;
  }

  .blocks__column.block-user-rating img {
    height: 13px;
    width: 13px;
  }

  .blocks__column.block-visit-site p {
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    margin-top: 5px;
  }

  .blocks__btn {
    height: 30px;
    font-size: 12px;
    line-height: 12px;
  }

  .blocks__btn img {
    display: none;
  }

  .block-text {
    padding: 21px 0 0;
  }

  .block-text h2 {
    margin: 11px 0;
  }

  .drum.desktop {
    display: none;
  }

  .drum.mobile {
    top: -40px;
  }

  .coins-header.left {
    top: -37px;
  }

  .coins-header.right {
    top: -32px;
  }

  .coins-header.desktop {
    display: none;
  }

  .footer {
    padding: 37px 30px 67px;
  }

  .footer__item {
    margin-bottom: 40px;
  }

  .footer__item:nth-child(1) {
    margin-bottom: 20px;
  }

  .footer__item:nth-child(2) {
    margin-bottom: 45px;
    width: 100%;
  }

  .footer__item:nth-child(2) ul {
    max-width: 500px;
  }

  .footer__item:nth-child(3) {
    width: 100%;
  }

  .footer__item:nth-child(3) ul {
    max-width: 500px;
  }
}

@media screen and (max-width: 460.98px) {
  .footer__item ul {
    margin-left: 0;
    margin-right: 0;
  }

  .footer__item ul li {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .footer__copyright {
    margin-top: 46px;
  }
}

@media screen and (max-width: 420.98px) {
  .first-screen__content h1 {
    margin-bottom: 1px;
  }
}

@media screen and (max-width: 400.98px) {
  .bg.desktop {
    display: none;
  }

  .coins-footer.desktop {
    display: none;
  }
}

@media screen and (max-width: 360.98px) {
  .blocks__column.block-user-rating {
    transform: translateX(18px);
  }
}